CompileFlags:
  Add:
    - -DPLINT_IMPLEMENTATION
    - -xc
    - -std=c99
    - -Wno-c23-extensions
    - -Wextra
    - -Wsign-conversion
    - -Wno-unused-variable
    - -Wno-unused-but-set-variable
    - -Wno-unused-function
