<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Plint</title>
    </head>

    <body>
        <main>
            <h1>Hello from Plint!</h1>
            {% if show_description %}
            <p>You are currently seeing this description because the <code>show_description</code> variable is set to true</p>
            {% endif %}
            {% if !show_description %}
            <p>The <code>show_description</code> variable is currently set to false!</p>
            {% endif %}
        </main>
    </body>
</html>
